{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Gestion des commandes</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body>

<a href="{% url 'ajouter_commande' %}">
    <input type="button" value="Ajouter commande">
</a>

<br><br>

<div id="tableau">
    {% for commande in commandes %}

        <div class="ligne_commande">

            <table class="commande_tableau">
                <tr>
                    <th>Date</th>
                    <th>Entreprise</th>
                </tr>
            <br>
                <tr>
                    <td>{{ commande.date }}</td>
                    <td>{{ commande.client }}</td>
                    <input hidden value="{{ commande.id }}">

                    {% if commande.is_active == False %}
                        <td class="img_valide"><a href="{% url 'valider_commande' commande.id %}"><img
                                src="{% static 'icones/valide.png' %}"></a></td>
                        <td class="img_croix"><a href="{% url 'supprimer_commande' commande.id %}"><img src="{% static 'icones/croix.png' %}"></a></td>
                    {% else %}
                        <td class="texte_valide">Commande validée</td>
                    {% endif %}


                </tr>
            </table>
        </div>

    {% endfor %}
</div>


</body>
</html>
